
@import 'variables';
@import 'mixin';

.container-fluid {
  max-width: 1200px;
}
.fa {
  color: $colorFa;
}
h3{
  .tag{
    font-size: 0.8em;
  }
}

.container-section {
  margin-bottom: 2em;
  padding-top:20px;
}
.tune-up-img {
  border-color: $colorSite;
}
.example-section {
  padding-top: 40px;
}