@import 'variables';
@import 'mixin';


.doc-box {
  .fa{
    color: $docColorFa;
    margin-right: 16px;
    font-size: 16px;
  }
}
.editing-files {
  margin-top: 20px;
  .rank{
    font-size: 1.2em;
  }
  p{
    margin-top: 15px;
  }

  .editing-img {
    margin: 30px 0;
  }
}
.doc-box {
  margin:20px 0;
  padding: 15px 0 0 20px ;

}
.doc-text-mini {
  font-size: 0.8em;
}

.website {
  margin: 10px 0 20px 0px;
  padding-left: 20px;
  p{
    font-size: 0.9em;
  }
}
.font-setting{
  h4{
    margin-top: 20px;
  }
  img{
    width: 80%;
    height: auto;
    transition: all 1s ease-in;
  }
  .font-img{
    margin: 20px 0;
  }
  .code{
    margin-bottom: 30px;
  }
}
.inst-img-box {
  margin-top: 20px;
}
.social {
  margin-top: 20px;
  a{
    display: block;
    color: $colorSite;
    font-weight: bold;
  }
}
