@import 'https://fonts.googleapis.com/css?family=Glegoo:400,700&subset=devanagari,latin-ext';
@import 'https://fonts.googleapis.com/css?family=Dancing+Script:400,700';

@font-face {
  font-family : 'Proxima-Nova-Light';
  src : url('../fonts/Proxima Nova/Proxima Nova Light.otf');
}
@font-face {
  font-family : 'Proxima-Nova-Bold';
  src : url('../fonts/Proxima Nova/Proxima Nova Bold.otf');
}