@import 'variables';
@import 'mixin';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  height: auto !important;
  font-size: 16px;
  font-family: $fontFamilySite;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  content: " ";
  clear: both;
}

h1, h2, h3, h4, h5 {
  line-height: 1.5em;
  color: $colorParagraph;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
  position: relative;
  color: $colorSite;
  &:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 35px;
    height: 3px;
    background: $colorFa;
  }
}

.headers-icon {
  margin-left: -55px;
  h2 {
    display: inline-block;
    text-transform: uppercase;
  }
  span {
    display: inline-block;
    margin-right: 22px;
  }
  .fa {
    font-size: 2.1333333333333333em;
  }
}

h3 {
  font-family: $fontProximaBold;
  font-size: 1.4em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em;
  margin-bottom: 1em;
}

h6 {
  font-size: 1em;
}

p {
  margin-bottom: 0.5em;
  color: $colorParagraph;
}

a {
  line-height: normal;
  display: inline-block;
}

strong {
  font-size: 1.0666666666666667em;
  font-family: $fontProximaBold;
}
header {
  background:$colorSite;
}
header, .content{
  padding-left:300px;
}
blockquote{
  color:$darkColor;
  border-left: 5px solid $colorSite;
  padding: 1.4em;
  p{
    text-align: right;
    margin: 0.5em 0;
  }
}
