@import 'variables';
@import 'mixin';


.navigation {
  position:fixed;
  top: 0;
  left: 0;
  width: 300px;
  background: $clearColor;
  transition: all 0.5s;
  padding: 40px 0 0 20px;
  .fa{
    color: $colorSite;
  }
  .logo{
    margin: 0 0 20px 0;
  }
  .logo a{
    padding-top:20px;
    color: $colorSite;
  }
  li{
    display: block;
    border-top: 1px solid $navBorderTop;
    &:last-child{
      border-top: 1px solid $navBorderTop;
      border-bottom: 1px solid $navBorderTop;
    }

  }
}
.menu {
  ul{
    li {
      display: block;
      font-size: $fonSizeSite;
      border-bottom: 1px solid $clearColor;
      transition: all 0.5s;
      .fa{
        margin-right: 12px;
        transition: all 0.5s;
      }
    }
    a{
      padding: 20px 0 18px 0;
      color:$colorSite;
      width: 92%;
      transition: all 0.5s;
    }
    a:hover{
      color: $colorFa;
      text-decoration: none;
      transition: all 0.5s;
      .fa{
        color: $colorFa;
      }
    }
  }
  .fa-angle-right{
    color: $colorFa;
  }
}

.menu-icon-box{
  background: $colorSite;
}

.menu-icon {
  background: $clearColor;
  &:before {
    background: $clearColor;
  }
  &:after {
    background: $clearColor;
  }
}
