@mixin gradient($start, $end) {
  background: $start;
  background: -moz-linear-gradient(top,  $start 0%, $end 100%);
  background: -webkit-linear-gradient(top,  $start 0%,$end 100%);
  background: linear-gradient(to bottom,  $start 0%,$end 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 );
}
@mixin radial_gradient($end, $start){
  background: $start; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,   $start 0%, $end 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover,   $start 0%,$end 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center,   $start 0%,$end 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@mixin checkBoxSvgColor($color) {
  background: url("data:image/svg+xml,%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22 fill='#{$color}' viewBox='0 0 45 45' %3E%0D%0A%09%09%3Cpath%20d%3D%22M17.021%2C44.403c0.427%2C0.45%2C0.995%2C0.698%2C1.601%2C0.698c0.641%2C0%2C1.25-0.287%2C1.672-0.791%0D%0A%09%09%09c8.155-9.735%2C19.136-21.879%2C23.248-24.062c0.906-0.482%2C1.515-1.456%2C1.515-2.423V1.933C45.056%2C0.678%2C44.137%2C0%2C43.272%2C0%0D%0A%09%09%09c-0.314%2C0-0.795%2C0.086-1.283%2C0.494C38.922%2C3.05%2C24.179%2C15.795%2C19.271%2C28.458l-4.691-7.624c-0.63-1.02-2.088-1.386-3.122-0.783%0D%0A%09%09%09L1.102%2C26.075c-0.599%2C0.349-0.981%2C0.924-1.046%2C1.579c-0.065%2C0.654%2C0.194%2C1.294%2C0.714%2C1.755%0D%0A%09%09%09C2.909%2C31.309%2C13.747%2C40.952%2C17.021%2C44.403z%20M12.378%2C22.984l5.636%2C9.16c0.378%2C0.613%2C0.96%2C0.965%2C1.597%2C0.965%0D%0A%09%09%09c0.613%2C0%2C1.437-0.375%2C1.736-1.432c3.091-10.901%2C15.443-22.661%2C20.707-27.29v13.253c-5.462%2C2.98-18.68%2C18.348-23.482%2C24.054%0D%0A%09%09%09c-3.429-3.461-11.281-10.499-14.85-13.674L12.378%2C22.984z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A")no-repeat;
}


