
@import 'variables';
@import 'mixin';

.popup-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.6);
  .popup-window {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%);
    width: 50%;
    height: 50%;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
  }
  .close-popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: $colorSite;
    cursor: pointer;
    z-index: 6;
    text-align: center;
    color: $clearColor;
  }
}