

$animation:all 0.3s;
$fonSizeSite: 16px;
$fontFamilySite: 'Proxima-Nova-Light';
$fontProximaBold: 'Proxima-Nova-Bold';
$borderSolid: solid;
$borderWidth:1px;


$borderBottomColor: #B6B1BB;
$borderSectionColor: #ddd;
$successBg: #0FFF7A;
$errorBg: #FF1C90;
$warningBg: #FFD71C;
$darkText: #3b3b3b;
$clearColor: #fff;
$colorTag: #FF4081;
$colorParagraph: #6e6e6e;
$colorList: #6e6e6e;
$darkColor: #000;
$colorSite: #172438;
$bgInfo: #6e06ff;
$colorTag: #FF006D;
$inputColorFocus: #34FF37;
$tagFolderBg: #88104D;
$docColorFa: #081625;




$colorSite: #172438;
$colorFa: #e30000;
$successBg: #34E353;
$errorBg: #FF776C;
$warningBg: #FFB26C;
$darkText: #3b3b3b;
$clearColor: #fff;
$colorTag: #FF493B;
$colorParagraph: #6e6e6e;
$colorList: #6e6e6e;
$inputColorFocus: #0FFF7A;
$darkColor: #000;
$borderBottomColor: #B6B1BB;
$navBorderTop: #dcdcdc;
$bgInfo: #006699;
$bgCode: #013D46;
$colorCodeTag: #d1d1d1;
$bgTabsLab: #f1f1f1;
$fonSizeSite: 16px;
$colorRankId: #4DAB5D;
$fontFamilySite: 'Proxima-Nova-Light';
$animation: all 0.3s;
$borderSolid: solid;
$borderWidth:1px;