@import 'skin-style/skin-style';
@font-face {
  font-family : 'Proxima-Nova-Light';
  src : url('../fonts/Proxima Nova/Proxima Nova Light.otf');
}
@font-face {
  font-family : 'Proxima-Nova-Bold';
  src : url('../fonts/Proxima Nova/Proxima Nova Bold.otf');
}
$colorSite: #172438;
$colorFa: #e30000;
$successBg: #34E353;
$errorBg: #FF776C;
$warningBg: #FFB26C;
$darkText: #3b3b3b;
$clearColor: #fff;
$colorTag: #FF493B;
$colorParagraph: #6e6e6e;
$colorList: #6e6e6e;
$inputColorFocus: #0FFF7A;
$darkColor: #000;
$borderBottomColor: #B6B1BB;
$navBorderTop: #dcdcdc;
$bgInfo: #006699;
$bgCode: #013D46;
$colorCodeTag: #d1d1d1;
$bgTabsLab: #f1f1f1;
$fonSizeSite: 16px;
$colorRankId: #4DAB5D;
$fontFamilySite: 'Proxima-Nova-Light';
$animation: all 0.3s;
$borderSolid: solid;
$borderWidth:1px;





h1, h2, h3, h4, h5 {
  color: $colorParagraph;
}



h2 {
  color: $colorSite;
  &:before{
    background: $colorFa;
  }
}

p {color: $colorParagraph;}


header, .content{
  padding-left:300px;
}

header {
  background:$colorSite;
}


.logo  {
  text-align: center;
  a {
    color: $clearColor;
    font-family: 'Dancing Script';
    font-size:4em;
  }
  a:hover{
    text-decoration: none;
  }
}
.navigation {
  position:fixed;
  top: 0;
  left: 0;
  width: 300px;
  background: $clearColor;
  transition: all 0.5s;
padding: 40px 0 0 20px;
  .fa{
    color: $colorSite;
  }
  .logo{
    margin: 0 0 20px 0;
  }
  .logo a{
    padding-top:20px;
    color: $colorSite;
  }
li{
  display: block;
  border-top: 1px solid $navBorderTop;
  &:last-child{
    border-top: 1px solid $navBorderTop;
    border-bottom: 1px solid $navBorderTop;
  }

}

}
.menu {
  ul{
    li {
      display: block;
      font-size: $fonSizeSite;
      border-bottom: 1px solid $clearColor;
      transition: all 0.5s;
      .fa{
        margin-right: 12px;
        transition: all 0.5s;
      }
    }
    a{
      padding: 20px 0 18px 0;
      color:$colorSite;
      width: 92%;
      transition: all 0.5s;
    }
    a:hover{
      color: $colorFa;
      text-decoration: none;
      transition: all 0.5s;
      .fa{
        color: $colorFa;
      }
    }
  }
  .fa-angle-right{
    color: $colorFa;
  }
}



.menu-icon-box{
  background: $colorSite;
}

  .menu-icon {
    background: $clearColor;
    &:before {
      background: $clearColor;
    }
    &:after {
      background: $clearColor;
    }
  }

.tag-prim {
  border-color: $colorParagraph;
}

.example-section {
  width: 100%;
  padding: 40px 0;
 /* border-bottom: $borderWidth $borderSolid $colorSite;*/
}
.example {
  margin-top: 30px;

}



.tag {
  color: $colorTag;
}
.rank {
  font-weight: bold;
  color: #333;
}
strong {
  font-weight: 600;
}
.message{
  color: $clearColor;
  border-color: $borderBottomColor;
  text-align: center;
}
.success {
  background: $successBg;
  @extend.message;
}
.warning {
  background: $warningBg;
  @extend.message;
}
.info {
  background: $bgInfo;
  @extend.message;
}
.error {
  background: $errorBg;
  @extend.message;
}
.unordered-list {
  color: $colorList;
}

.numbered-list{
  color:$colorList;
}
.numbered-list li:before {
  color: $colorSite;
  border-color: $colorSite;
}
/*----- NUMBERED LIST END -----*/


/*----- HORIZONTAL LIST -----*/

.horizontal-list{
  li{
    a{
      color: $borderBottomColor;
      &:hover{
        color: $colorSite;
      }
    }
  }
}

/*----- HORIZONTAL LIST -----*/


/*----- PAGINATION START -----*/


.transfer{
  li{
    a{
      color: $colorSite;
      border-color: $colorSite;
      &:hover{
        color: $clearColor;
        background: $colorSite;
      }
    }
  }
}



/*----- PAGINATION END -----*/



.container-section {
  margin-bottom: 2em;
}
blockquote{
  color:$darkColor;
  border-left: 5px solid $colorSite;
  padding: 1.4em;
  p{
    text-align: right;
    margin: 0.5em 0;
  }
}

.quote{
  border-color: $colorSite;
  &:hover{
    background: $colorSite;
    color: $clearColor;
  }
 &:before{
    color: $colorSite;
  }
  &:hover:before{
    color: $clearColor;
  }
}
.btn {
  border-color: $colorSite;
  background: $colorSite;
  color: $clearColor;
  &:hover{
   background: $clearColor;
   color: $colorSite;
  }
  &.move-left {
    &:before{
      background: $clearColor;
    }
    &:hover{
      color: $colorSite;
      background: $colorSite;
    }
    &:hover:before{
      width: 100%;
      transition: all 0.5s;
      z-index: -1;
    }
  }
  &.move-center{
    &:before{
      background: $clearColor;
    }
    &:hover{
      background: $colorSite;
    }
  }
}
input.move-center:hover, input.move-left:hover{
  background: $clearColor!important;
}
.btn-gradient {
  @include gradient($bgInfo, $colorSite);
  &:hover{
    color: $clearColor;
    @include gradient($colorSite, $bgInfo);
  }
}
.radial-gradient {
  @include radial_gradient($bgInfo, $colorSite);
  &:hover{
    color: $colorSite;
    background: $clearColor;
  }
}

.btn.indentation {
  box-shadow: 0 4px $colorList;
  &:hover{
    color: $clearColor;
    box-shadow: 0 2px $colorList;
    background: $colorSite;

  }
}


/*----- IMAGES STYLES START -----*/

.tune-up-img {
  border-color: $colorSite;
}




/*--- IMAGES STYLES END ----*/

/*----- TABS START ----*/

.content-tab {
  background: $clearColor;
  border-color: $colorSite;
}
.tabs label {
  color: $colorParagraph;
  border-color: $colorSite;
  background: $bgTabsLab;
  &:hover{
    color: $colorSite;
  }
}

.tabs input:checked + label {
  color: $colorSite;
  border-color: $colorSite;
  border-bottom-color: $clearColor;
  background: $clearColor;
}



/*----- TABS END -----*/

#checkbox {
  h4{
    margin-bottom: 2em;
  }
}


.checkbox + label span {
  border-color: $colorSite;
}
/*.checkbox + label span svg {
  fill: $colorSite;
}*/


/*----- DOCUMENTATION START -----*/
.editing-files {
  margin-top: 20px;
  .rank{
    font-size: 1.2em;
  }
  p{
    margin-top: 15px;
  }

  .editing-img {
    margin: 30px 0;
  }
}
.doc-box {
  margin:20px 0;
  padding: 15px 0 0 20px ;
}
.doc-text-mini {
  font-size: 0.8em;
}
.website {
  margin: 10px 0 20px 0px;
  padding-left: 20px;
  p{
    font-size: 0.9em;
  }
}
.font-setting{
  h4{
    margin-top: 20px;
  }
  img{
    width: 80%;
    height: auto;
    transition: all 1s ease-in;
  }
  .font-img{
   /* width: 65%;*/
    margin: 20px 0;
  }
  .code{
    margin-bottom: 30px;
  }
}
.inst-img-box {
  margin-top: 20px;
}
.social {
  margin-top: 20px;
  a{
    display: block;
    color: $colorSite;
    font-weight: bold;
  }
}
.fa {
  color: $colorFa;
}
h3{
  .tag{
    font-size: 0.8em;
  }
}
.container-section {
  padding-top:20px;
}
/*----- DOCUMENTATION END -----*/


