@import 'variables';
@import 'mixin';

.adress-section {
  width: 100%;
  padding: 50px 0;
  background: #212428;
}
.email, .address, .tel {text-align: center; }
.address p, .email a, .tel a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  color: $clearColor;
  font-family: 'Roboto', sans-serif;
  padding-left: 40px;
}

.tel a .fa-mobile, .fa-map-marker, .fa-envelope{
  font-size: 3.3333333333333335em;
  color: $colorSite;
}

.adress-text{
  position: relative;
  top:-11px;
}
.fa-envelope{
  font-size: 2em;
}
.email .adress-text{
  top: -5px;
}

.address-block-img{
  position: relative;
  top: -5px;
  display: inline-block;
  width: 30px;
}
.address-block-img {
  .icon-pen, .icon-phone, .icon-map-marker{
    font-size: 2em;
    color: $colorSite;
  }
}