@import 'variables';
@import 'mixin';

.contact{
  padding:96px 0 100px 0;
  overflow: hidden;
}

.contact-box {
  max-width: 66.5%;
  margin: auto;
  input[type="text"],input[type="email"],textarea{
    border:0;
    width: 48%;
    padding: 13px;
    font-size: 0.9333333333333333em;
    outline: none;
    border-bottom:{
      width: 1px;
      style: dashed;
    }
    color: $inputColor;
    border-color: $inputColor;
  }
  input[type="text"] {margin-right: 20px;}
  textarea {
    width: 100%;
    margin-top: 20px;

  }
  button {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 0;
    padding: 15px 50px 13px 50px;
    background: none;
    text-transform: uppercase;
    margin-top: 49px;
    color: #161414;
    border: 2px solid $colorSite;
    @include transition(0.5s);
    &:hover {
      background: $colorSite;
      color: $clearColor;
      @include transition(0.5s);
    }
  }
}
.contact-box-row {text-align: center;}