@import url(https://fonts.googleapis.com/css?family=Hind:400,300,600,700,500&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic&subset=latin,cyrillic,cyrillic-ext);


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/own-icon/icomoon.eot?mn58q9');
  src:  url('../fonts/own-icon/icomoon.eot?mn58q9#iefix') format('embedded-opentype'),
  url('../fonts/own-icon/icomoon.ttf?mn58q9') format('truetype'),
  url('../fonts/own-icon/icomoon.woff?mn58q9') format('woff'),
  url('../fonts/own-icon/icomoon.svg?mn58q9#icomoon') format('svg');
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: 100;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-atom:before {
  content: "\e900";
}
.icon-bulb:before {
  content: "\e901";
}
.icon-double-diamond:before {
  content: "\e902";
}
.icon-hand-drawn:before {
  content: "\e903";
}
.icon-map-marker:before {
  content: "\e904";
}
.icon-pen:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-settings:before {
  content: "\e907";
}


