@import 'variables';
@import 'mixin';

.footer-content {
  width: 100%;
  padding: 15px 0;
  background: #212428;
  .copyright {
    margin-top: 10px;
    color: $copyrightColor;
    p {
      text-align: center;
      font-size: 0.8666666666666667em;
      font-family: 'Hind', sans-serif;
    }
  }
}

