@import 'variables';
@import 'mixin';


header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  .logo {
    padding-left: 4px;
    margin-top: 4px;
    a{
      font-size: 3.2em;
      font-family: 'Dancing Script', cursive;
      color: $colorSite;
    }
  }
  .navbar{
    border:0;
    margin:0;
  }
  .navbar-default {
    color: $colorSite;
    background: none;
    &:hover {
      color: $colorSite;
    }
    .navbar-toggle .icon-bar {
      background: $colorSite;
    }
    .menu {
      margin-top: 16px;
      li {
        a {
          font-size: 1em;
          color: $clearColor;
          margin: 0 0 0 20.5px;
          outline: none;
          @include transition(0.4s);
        }
        &a:hover {
          color: $colorSite;
          background: transparent;
          @include transition(0.4s);
        }
      }
      .active{
        a{
          color: $colorSite;
        }
      }
    }
  }
  .navbar-right {
    margin-right: -28px;
  }
  .default{
    background: none;
    padding-top: 20px;
  }
  .fixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 149;
    background: $darkColor;
    padding-top: 0;
    margin: 0;

  }
  .navbar-header {
    padding: 5px 0 10px 0;
  }
}
.navbar.navbar-default.fixed{
  background: $darkColor;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  color: $colorSite;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: $colorSite;
}
.navbar-collapse {
  -webkit-box-shadow: inset 0 0 0 rgba(255,255,255,.1);
  box-shadow: inset 0 0 0 rgba(255,255,255,.1);
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
  background: none;
  background: transparent;
  transition: 0.5s ease 0s;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none;
}
.navbar-collapse {
  -webkit-overflow-scrolling: touch;
  border-top: 0 solid transparent;
}
.navbar-toggle .icon-bar {
  width: 25px;
  height: 3px;
}
.navbar-toggle {border:0;}