@import 'variables';
@import 'mixin';

#map {
  height:460px;
  width:100%;
}
.gm-style-iw {
  * {
    display: block;
    width: 100%;
  }
  p {
    margin: 0;
    padding: 0;
  }
  h4 {
    margin: 0;
    padding: 0;
  }
  a {
    color: #4272db;
  }
}



//'http://web-job.com.ua/wp-content/uploads/2016/08/marker.png'

.map {
  img {
    filter:hue-rotate(180deg);
  }
}