@import 'variables';
@import 'mixin';

.our-work {
  min-height: 800px;
  padding: 95px 0 0 0;
}
.button-group {
  text-align: center;
  margin: 20px 0 30px 0;
}

.tab-work{
  .button-group {
    button {
      display:inline-block;
      font-size: 1.0666666666666667em;
      font-weight: 500;
      border-radius: 0;
      padding: 10px 10px 8px 10px;
      background: none;
      border: 1px solid transparent;
      color: #161414;
      &:hover,&:focus{
        outline: none;
        border: 1px solid $colorSite;
        background-color: $clearColor;
      }
    }
  }
}
.tab-row {
  text-align: center;
  min-height: 555px;
}
.tab-link {
  display: inline-block;
  margin: 0.5px 0.5px;
  width: 375px;
  height: 277px;
  a {
    display: block;
    position: relative;
    overflow: hidden;
    img {
      display: block;
      width: 375px;
      height: 277px;
    }
    &:hover .work-hover{
      left: 0;
      transition: 0.3s;
    }
  }
}

.headers{
  h2 {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 89px;
    span{
      content:'';
      position: absolute;
      bottom: 22px;
      left: 50%;
      @include prefixMinusLeft;
      width: 70px;
      height: 76px;
      color: $colorSite;
      font-size: 3em;
    }

  }
}

.work-hover {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  @include transition(0.5s);
  padding: 0 30px;
  background: $darkColor;
}

.work-hover-text {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0 15px;
  color: $clearColor;
}
