@import 'variables';
@import 'mixin';

.our-team {
  width: 100%;
  padding: 94px 0 95px 0;
  overflow: hidden;
  background: $bgSectionTime;
  .bounceIn{
    visibility: visible;
    animation-delay: 2.4s;
    animation-name: bounceIn;
  }
}
.team-box {
  margin-top: 33px;
  background: #f7f7f7;
}
.team-title {
  margin: 49px 0 24px 0;
  padding: 0 30px;
  h3 {
    font-size: 1.3333333333333333em;
    line-height: 28px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #212121;
  }
  h4 {
    text-align: center;
    font-size: 0.9333333333333333em;
    line-height: 24px;
    color: #999999;
  }
}

.team-text {
  min-height: 108px;
  border-bottom: 1px solid #e4e4e4;
  p {
    text-align: center;
    font-size: 1em;
    line-height: 18px;
    padding: 0 30px;
    color: #575757;
  }
}
.team-bottom {padding: 30px 30px 25px 30px;}

.socio-list {
  text-align: center;
}
.socio-list li {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: 1px solid $inputColor;
  border-radius: 50%;
  text-align: center;
  @include transition(0.3s);
  &:hover{
    border-color: $colorSite;
    @include transition(0.3s);
  }
  a{
    color: $inputColor;
    @include transition(0.3s);
    &:hover{
      color: $colorSite;
      @include transition(0.3s);
    }
  }
}
.team-img {
  img {
    display: block;
    width: 100%;
    @include transition(1s);
    @include filterColor;
    &:hover{
      @include filterBleaching;
    }
  }
}
