@import 'variables';
@import 'mixin';

.quote {
  width: 100%;
  padding: 58px 0 78px 0;
  background: url(images-css/bg-block.png) center center no-repeat;
  background-size: cover;
}

.quote-box {
  position: relative;
  border-right-color: $quoteBorderColor;
  border-bottom-color: $quoteBorderColor;
  border:{
    right-style: solid;
    bottom-style: solid;
    right-width: 7px;
    bottom-width: 7px;
  }
  padding: 114px 123px 70px 123px;
  &:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7px;
    height: 82%;
    background: $quoteBorderColor;
  }
  &:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 93%;
    height: 7px;
    background: $quoteBorderColor;
  }
  h2 {
    font-size: 1.8666666666666667em;
    text:{
      align: center;
      transform: uppercase;
    }
    color: $clearColor;
    margin-bottom: 30px;
  }
  p {
    color: $clearColor;
    line-height: 1.2666666666666666em;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 20px;
    font:{
      size: 1.0666666666666667em;
      weight: 100;
    }
  }
}
.quote-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
  font-size: 3.3333333333333335em;
  background: $quoteBorderColor;
  color: $clearColor;
  text-align: center;
  line-height: 4.5rem;

  .fa-quote-left{
    font-size: 0.8em;
  }
}

