@import 'variables';
@import 'mixin';

.reviews {
  position: relative;
  width: 100%;
  padding: 108px 0 10px 0;
  background: {
    image: url(images-css/bg-rewiev.png);
    size: cover;
    attachment: fixed;
    position: center center;
    repeat: no-repeat;
  }
  .slick-dots{
    position: relative;
    top:auto;
    right: auto;
    text-align: center;
    margin-top: 80px;
    li {
      display: inline-block;
      margin: 0 3px;
      button{
        margin: 0 5px 0 5px;
      }
    }
  }
  .review-autor {
    float: left;
    height: 122px;
    border-radius: 50%;
    margin: 0 52px 0 19px;
    position: relative;
    border: 1px solid $colorSite;
  }
  .review-content-text{
    float:left;
    width:82%;
  }
  .slick-slide {
    img{
      display: inline-block;
      width: auto;
    }
  }
}

.review-title {
  h2 {
    font:{
      size: 28px;
      weight: 600;
    }
    text-transform: uppercase;
    color: $clearColor;
  }
}

.review-descript {
  margin: 20px 0 18px 0;
  p{
    font-size: 0.9333333333333333em;
    line-height: 19px;
    color: $colorSite;
    text-transform: uppercase;
  }
}

.review-text p {
  font-size: 1.0666666666666667em;
  line-height: 19px;
  font-weight: 200;
  color: $clearColor;
}