@import 'variables';
@import 'mixin';

.service-info {
  padding: 87px 0 86px 0;
  overflow: hidden;
  .service-title{
    h3{
      font-size: 1.2em;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
.service-info-box {
  display: flex;
  margin: 29px 0 43px 0;
  text-align: left;
  & .service-img{
    min-width: 42px;
    margin-right: 44px;
  }
  .service-title{
    margin: 0 0 19px 0;
  }
}

.service-info-box .service-title h3, .service-info-box  .service-parag p {text-align: left;}