@import 'variables';
@import 'mixin';

.service {
  overflow: hidden;
  padding: 93px 0 106px 0px;
  .service-box {
    width: 80%;
    margin: auto;
  }
  .service-img {
    height: 50px;
    width: 44px;
    margin: auto;
    text-align: center;
  }
  .service-title {
    margin: 23px 0 18px 0;
  }
  .service-title {
    h3{
      font:{
        size: 1.2em;
        weight: 600;
      }
      text:{
        transform: uppercase;
        align: center;
      }
      color: $darkColorText;
    }
  }
  .service-parag {
    p{
      font:{
        size: 15px;
        weight: 300;
      }
      line-height: 18px;
      text-align: center;
      color: $darkColorText;
    }
  }
}



.service-img{
  .icon-atom, .icon-bulb, .icon-settings {
    color: $colorSite;
    font-size: 3.5em;
  }
}