@import 'variables';
@import 'mixin';

.slider-content {position: relative;}
.slick-slide img {width: 100%;}

.slick-dots {
  position: absolute;
  top: 52%;
  right: 5.6%;
  @include prefixMinusTop;
  li {
    button{
      display: block;
      overflow: hidden;
      border: 0;
      width: 9px;
      height: 11px;
      border-radius: 50%;
      outline: none;
      margin: 0 0 14px 0;
      font-size: 0;
      line-height: 10px;
      background: $slick-dots;
    }
  }
  & .slick-active {
    button { background: $colorSite;}
  }
}


#back-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 10;
  background: $colorSite;
  padding: 8px;
  a {

    display: block;
    font-size: 1.6666666666666667em;
    color: $clearColor;
    text:{
      align:center;
      transform: uppercase;
      decoration: none;
    }
    @include transition (1s);
  }
}
.fa-arrow-circle-up {
  font-size: 2.6666666666666665em;
  color: $colorSite;
  &:hover {
    color:$darkColorText;
  }
}
.slider-box {
  outline:none;
  position: relative;
}
.slider-text{
  position: absolute;
  top: 49.4%;
  left: 20.6%;
  @include prefixMinusTop;
  p{
    line-height: 35px;
    color: $clearColor;
    font:{
      size: 18px;
      family: 'Hind', sans-serif;
      weight: 600;
    }
  }
  h2 {
    font:{
      size: 40px;
      family: 'Hind', sans-serif;
      weight: 600;
    }
    color: $colorSite;
    text-transform: uppercase;
    line-height: 50px;
    span {
      display: block;
      color: $colorSite;
    }
  }
}

.arrow {
  position: absolute;
  width: 100px;
  height:40px;
  right: 0;
  bottom: 5%;
  left: 0;
  margin:auto;
  a {
    width: 100px;
    height: 80px;
    background: url("images-css/arrow.png")center center no-repeat;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }
}

