@import 'color-skins/turquoise';






$colorHeader: #161414;
$darkColor: rgba(0,0,0,0.8);
$clearColor: #fff;
$clearOpacity: rgba(255,255,255,0.8);
$slick-dots: #c7c0bd;
$darkColorText: #373737;
$bgSectionTime: #f2efea;
$inputColor: #999999;
$copyrightColor: #7b7b7b;
$fontRoboto: 'Roboto', sans-serif;
$fontSize: 15px;









