@media screen and (max-width: 1200px) {
  .quote-box:after {
    width: 91%; } }
@media screen and (max-width: 1100px) {
  .slider .bx-wrapper .bx-next {
    right: -20px; }

  .slider .bx-wrapper .bx-prev {
    left: -20px; } }
@media screen and (max-width: 991px) {
  .quote-box:after {
    width: 86%; }

  .contact-box {
    max-width: 100%; }

  header .container, .navbar .container, .adress-section .container {
    width: 100%; } }
@media screen and (max-width: 835px) {
  .navbar-default .menu li a {
    margin: 0; } }
@media screen and (max-width: 815px) {
  .slider-text {
    left: 10%; } }
@media screen and (max-width: 767px) {
  .navbar {
    margin: 0; }

  .navbar.navbar-default.default {
    background: #000; }

  .navbar-default {
    background: rgba(0, 0, 0, 0.8);
    text-align: center; }

  .navbar-default .menu li a {
    text-transform: uppercase; }

  .quote-box {
    padding: 80px 50px 50px 50px; }
    .quote-box:before {
      height: 76%; }

  .service-info {
    padding: 0 0 20px 0; }

  .service-info-box {
    display: block;
    text-align: center; }
    .service-info-box .service-title h3 {
      margin: 15px 0;
      text-align: center; }
    .service-info-box .service-parag p {
      text-align: center; }
    .service-info-box .service-img {
      margin: 0; }

  .reviews {
    padding: 0 0 10px 0; }
    .reviews .slider-box {
      display: block;
      text-align: center;
      padding: 0 15px; }
    .reviews .review-autor {
      float: none;
      width: 123px;
      margin: 0 auto 15px auto; }
    .reviews .slick-dots {
      margin-top: 15px; }
    .reviews .review-content-text {
      width: 100%;
      float: none; }

  .tab-link {
    width: 320px;
    height: auto; }

  .team-img img {
    display: inline-block;
    width: auto; }

  .team-box {
    text-align: center;
    margin-top: 30px; }

  .contact-box input[type="text"], .contact-box input[type="email"], .contact-box textarea {
    display: block;
    width: 90%;
    margin: 15px auto; }

  .footer-sicio, .logo {
    text-align: center; }

  .arrow {
    display: none; }

  .adress-section {
    padding: 10px 0 35px 0; }

  .email, .address, .tel {
    margin-top: 35px; }

  .slider-content {
    padding-top: 66px; }

  .service-box {
    margin: auto auto 40px auto; }

  .service {
    padding: 35px 0; }

  .default {
    padding-top: 0; }

  header .logo {
    float: left; }

  .service-info-box .service-img {
    max-width: 70px;
    margin: auto; } }
@media screen and (max-width: 600px) {
  .quote-img, .quote-box:after, .quote-box:before {
    display: none; }

  .quote-box {
    border: 0;
    padding: 20px; }

  .container {
    overflow-x: hidden; }

  .slick-dots li button, .adress-section, .map {
    display: none; }

  .slider-text h2 {
    line-height: 40px; }

  .quote {
    padding: 20px 0 0 0; }

  .our-work {
    padding: 40px 0 0 0; }

  .contact {
    padding: 35px 0 70px 0; }

  .our-team {
    padding: 75px 0 35px 0; } }
@media screen and (max-width: 550px) {
  .slider-text {
    left: 7%;
    top: 55%;
    text-align: center; } }
@media screen and (max-width: 500px) {
  .slider-text h2 {
    font-size: 25px;
    line-height: 27px; }

  .slider-text {
    left: 21%; } }
@media screen and (max-width: 400px) {
  .slider-text {
    left: 15%;
    top: 60%; } }
@media screen and (max-width: 400px) {
  .team-img img {
    width: 100%;
    display: block; } }

/*# sourceMappingURL=media-screen.css.map */
