
@import 'variables';
@import 'mixin';

.load-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 99999;

}


.no-cssanimations .load-container .loader {
  text-indent: 0;
  text-align: center;
  color: $clearColor;
  font-size: 17px;
  background: none;
  border: 0 none;
  width: auto;
  height: auto;
  margin: 1em auto;
  overflow: visible;
  box-shadow: none;
  -webkit-animation: none;
  animation: none;
}

.no-cssanimations .load-container .loader:before,
.no-cssanimations .load-container .loader:after {
  display: none;
}

.load8 .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -4.3em;
  margin-top: -4.3em;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 0.6em solid $quoteBorderColor;
  border-right: 0.6em solid $quoteBorderColor;
  border-bottom: 0.6em solid $quoteBorderColor;
  border-left: 0.6em solid $colorSite;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}


.load8 .loader, .load8 .loader:after {
  border-radius: 50%;
  width: 8em;
  height: 8em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}