@import url(https://fonts.googleapis.com/css?family=Hind:400,300,600,700,500&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic,100italic&subset=latin,cyrillic,cyrillic-ext);
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/own-icon/icomoon.eot?mn58q9");
  src: url("../fonts/own-icon/icomoon.eot?mn58q9#iefix") format("embedded-opentype"), url("../fonts/own-icon/icomoon.ttf?mn58q9") format("truetype"), url("../fonts/own-icon/icomoon.woff?mn58q9") format("woff"), url("../fonts/own-icon/icomoon.svg?mn58q9#icomoon") format("svg");
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: 100;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-atom:before {
  content: "\e900"; }

.icon-bulb:before {
  content: "\e901"; }

.icon-double-diamond:before {
  content: "\e902"; }

.icon-hand-drawn:before {
  content: "\e903"; }

.icon-map-marker:before {
  content: "\e904"; }

.icon-pen:before {
  content: "\e905"; }

.icon-phone:before {
  content: "\e906"; }

.icon-settings:before {
  content: "\e907"; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  height: 100%;
  min-height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  line-height: normal; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  content: " ";
  clear: both; }

a {
  line-height: normal;
  display: inline-block; }
  a:hover {
    text-decoration: none; }

h2 {
  font-size: 28px;
  font-weight: 600; }

.os-animation {
  opacity: 0; }

.os-animation.animated {
  opacity: 1; }

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }
  header .logo {
    padding-left: 4px;
    margin-top: 4px; }
    header .logo a {
      font-size: 3.2em;
      font-family: 'Dancing Script', cursive;
      color: #5eb5ba; }
  header .navbar {
    border: 0;
    margin: 0; }
  header .navbar-default {
    color: #5eb5ba;
    background: none; }
    header .navbar-default:hover {
      color: #5eb5ba; }
    header .navbar-default .navbar-toggle .icon-bar {
      background: #5eb5ba; }
    header .navbar-default .menu {
      margin-top: 16px; }
      header .navbar-default .menu li a {
        font-size: 1em;
        color: #fff;
        margin: 0 0 0 20.5px;
        outline: none;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
      header .navbar-default .menu lia:hover {
        color: #5eb5ba;
        background: transparent;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s; }
      header .navbar-default .menu .active a {
        color: #5eb5ba; }
  header .navbar-right {
    margin-right: -28px; }
  header .default {
    background: none;
    padding-top: 20px; }
  header .fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 149;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 0;
    margin: 0; }
  header .navbar-header {
    padding: 5px 0 10px 0; }

.navbar.navbar-default.fixed {
  background: rgba(0, 0, 0, 0.8); }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #5eb5ba; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #5eb5ba; }

.navbar-collapse {
  -webkit-box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.1); }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: none;
  background: transparent;
  transition: 0.5s ease 0s; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none; }

.navbar-collapse {
  -webkit-overflow-scrolling: touch;
  border-top: 0 solid transparent; }

.navbar-toggle .icon-bar {
  width: 25px;
  height: 3px; }

.navbar-toggle {
  border: 0; }

.slider-content {
  position: relative; }

.slick-slide img {
  width: 100%; }

.slick-dots {
  position: absolute;
  top: 52%;
  right: 5.6%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .slick-dots li button {
    display: block;
    overflow: hidden;
    border: 0;
    width: 9px;
    height: 11px;
    border-radius: 50%;
    outline: none;
    margin: 0 0 14px 0;
    font-size: 0;
    line-height: 10px;
    background: #c7c0bd; }
  .slick-dots .slick-active button {
    background: #5eb5ba; }

#back-top {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 10;
  background: #5eb5ba;
  padding: 8px; }
  #back-top a {
    display: block;
    font-size: 1.6666666666666667em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }

.fa-arrow-circle-up {
  font-size: 2.6666666666666665em;
  color: #5eb5ba; }
  .fa-arrow-circle-up:hover {
    color: #373737; }

.slider-box {
  outline: none;
  position: relative; }

.slider-text {
  position: absolute;
  top: 49.4%;
  left: 20.6%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .slider-text p {
    line-height: 35px;
    color: #fff;
    font-size: 18px;
    font-family: 'Hind', sans-serif;
    font-weight: 600; }
  .slider-text h2 {
    font-size: 40px;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    color: #5eb5ba;
    text-transform: uppercase;
    line-height: 50px; }
    .slider-text h2 span {
      display: block;
      color: #5eb5ba; }

.arrow {
  position: absolute;
  width: 100px;
  height: 40px;
  right: 0;
  bottom: 5%;
  left: 0;
  margin: auto; }
  .arrow a {
    width: 100px;
    height: 80px;
    background: url("images-css/arrow.png") center center no-repeat;
    animation-iteration-count: infinite;
    animation-duration: 2s; }

.service {
  overflow: hidden;
  padding: 93px 0 106px 0px; }
  .service .service-box {
    width: 80%;
    margin: auto; }
  .service .service-img {
    height: 50px;
    width: 44px;
    margin: auto;
    text-align: center; }
  .service .service-title {
    margin: 23px 0 18px 0; }
  .service .service-title h3 {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #373737; }
  .service .service-parag p {
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    text-align: center;
    color: #373737; }

.service-img .icon-atom, .service-img .icon-bulb, .service-img .icon-settings {
  color: #5eb5ba;
  font-size: 3.5em; }

.quote {
  width: 100%;
  padding: 58px 0 78px 0;
  background: url(images-css/bg-block.png) center center no-repeat;
  background-size: cover; }

.quote-box {
  position: relative;
  border-right-color: rgba(94, 181, 186, 0.3);
  border-bottom-color: rgba(94, 181, 186, 0.3);
  border-right-style: solid;
  border-bottom-style: solid;
  border-right-width: 7px;
  border-bottom-width: 7px;
  padding: 114px 123px 70px 123px; }
  .quote-box:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7px;
    height: 82%;
    background: rgba(94, 181, 186, 0.3); }
  .quote-box:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 93%;
    height: 7px;
    background: rgba(94, 181, 186, 0.3); }
  .quote-box h2 {
    font-size: 1.8666666666666667em;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px; }
  .quote-box p {
    color: #fff;
    line-height: 1.2666666666666666em;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.0666666666666667em;
    font-weight: 100; }

.quote-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  height: 72px;
  font-size: 3.3333333333333335em;
  background: rgba(94, 181, 186, 0.3);
  color: #fff;
  text-align: center;
  line-height: 4.5rem; }
  .quote-img .fa-quote-left {
    font-size: 0.8em; }

.service-info {
  padding: 87px 0 86px 0;
  overflow: hidden; }
  .service-info .service-title h3 {
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center; }

.service-info-box {
  display: flex;
  margin: 29px 0 43px 0;
  text-align: left; }
  .service-info-box .service-img {
    min-width: 42px;
    margin-right: 44px; }
  .service-info-box .service-title {
    margin: 0 0 19px 0; }

.service-info-box .service-title h3, .service-info-box .service-parag p {
  text-align: left; }

.reviews {
  position: relative;
  width: 100%;
  padding: 108px 0 10px 0;
  background-image: url(images-css/bg-rewiev.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat; }
  .reviews .slick-dots {
    position: relative;
    top: auto;
    right: auto;
    text-align: center;
    margin-top: 80px; }
    .reviews .slick-dots li {
      display: inline-block;
      margin: 0 3px; }
      .reviews .slick-dots li button {
        margin: 0 5px 0 5px; }
  .reviews .review-autor {
    float: left;
    height: 122px;
    border-radius: 50%;
    margin: 0 52px 0 19px;
    position: relative;
    border: 1px solid #5eb5ba; }
  .reviews .review-content-text {
    float: left;
    width: 82%; }
  .reviews .slick-slide img {
    display: inline-block;
    width: auto; }

.review-title h2 {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff; }

.review-descript {
  margin: 20px 0 18px 0; }
  .review-descript p {
    font-size: 0.9333333333333333em;
    line-height: 19px;
    color: #5eb5ba;
    text-transform: uppercase; }

.review-text p {
  font-size: 1.0666666666666667em;
  line-height: 19px;
  font-weight: 200;
  color: #fff; }

.our-work {
  min-height: 800px;
  padding: 95px 0 0 0; }

.button-group {
  text-align: center;
  margin: 20px 0 30px 0; }

.tab-work .button-group button {
  display: inline-block;
  font-size: 1.0666666666666667em;
  font-weight: 500;
  border-radius: 0;
  padding: 10px 10px 8px 10px;
  background: none;
  border: 1px solid transparent;
  color: #161414; }
  .tab-work .button-group button:hover, .tab-work .button-group button:focus {
    outline: none;
    border: 1px solid #5eb5ba;
    background-color: #fff; }

.tab-row {
  text-align: center;
  min-height: 555px; }

.tab-link {
  display: inline-block;
  margin: 0.5px 0.5px;
  width: 375px;
  height: 277px; }
  .tab-link a {
    display: block;
    position: relative;
    overflow: hidden; }
    .tab-link a img {
      display: block;
      width: 375px;
      height: 277px; }
    .tab-link a:hover .work-hover {
      left: 0;
      transition: 0.3s; }

.headers h2 {
  text-align: center;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 89px; }
  .headers h2 span {
    content: '';
    position: absolute;
    bottom: 22px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 70px;
    height: 76px;
    color: #5eb5ba;
    font-size: 3em; }

.work-hover {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 0 30px;
  background: rgba(0, 0, 0, 0.8); }

.work-hover-text {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0 15px;
  color: #fff; }

.our-team {
  width: 100%;
  padding: 94px 0 95px 0;
  overflow: hidden;
  background: #f2efea; }
  .our-team .bounceIn {
    visibility: visible;
    animation-delay: 2.4s;
    animation-name: bounceIn; }

.team-box {
  margin-top: 33px;
  background: #f7f7f7; }

.team-title {
  margin: 49px 0 24px 0;
  padding: 0 30px; }
  .team-title h3 {
    font-size: 1.3333333333333333em;
    line-height: 28px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    color: #212121; }
  .team-title h4 {
    text-align: center;
    font-size: 0.9333333333333333em;
    line-height: 24px;
    color: #999999; }

.team-text {
  min-height: 108px;
  border-bottom: 1px solid #e4e4e4; }
  .team-text p {
    text-align: center;
    font-size: 1em;
    line-height: 18px;
    padding: 0 30px;
    color: #575757; }

.team-bottom {
  padding: 30px 30px 25px 30px; }

.socio-list {
  text-align: center; }

.socio-list li {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #999999;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .socio-list li:hover {
    border-color: #5eb5ba;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  .socio-list li a {
    color: #999999;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    .socio-list li a:hover {
      color: #5eb5ba;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }

.team-img img {
  display: block;
  width: 100%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  /*IE 6-9*/ }
  .team-img img:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: gray; }

.contact {
  padding: 96px 0 100px 0;
  overflow: hidden; }

.contact-box {
  max-width: 66.5%;
  margin: auto; }
  .contact-box input[type="text"], .contact-box input[type="email"], .contact-box textarea {
    border: 0;
    width: 48%;
    padding: 13px;
    font-size: 0.9333333333333333em;
    outline: none;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    color: #999999;
    border-color: #999999; }
  .contact-box input[type="text"] {
    margin-right: 20px; }
  .contact-box textarea {
    width: 100%;
    margin-top: 20px; }
  .contact-box button {
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    border-radius: 0;
    padding: 15px 50px 13px 50px;
    background: none;
    text-transform: uppercase;
    margin-top: 49px;
    color: #161414;
    border: 2px solid #5eb5ba;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .contact-box button:hover {
      background: #5eb5ba;
      color: #fff;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }

.contact-box-row {
  text-align: center; }

.adress-section {
  width: 100%;
  padding: 50px 0;
  background: #212428; }

.email, .address, .tel {
  text-align: center; }

.address p, .email a, .tel a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  padding-left: 40px; }

.tel a .fa-mobile, .fa-map-marker, .fa-envelope {
  font-size: 3.3333333333333335em;
  color: #5eb5ba; }

.adress-text {
  position: relative;
  top: -11px; }

.fa-envelope {
  font-size: 2em; }

.email .adress-text {
  top: -5px; }

.address-block-img {
  position: relative;
  top: -5px;
  display: inline-block;
  width: 30px; }

.address-block-img .icon-pen, .address-block-img .icon-phone, .address-block-img .icon-map-marker {
  font-size: 2em;
  color: #5eb5ba; }

#map {
  height: 460px;
  width: 100%; }

.gm-style-iw * {
  display: block;
  width: 100%; }
.gm-style-iw p {
  margin: 0;
  padding: 0; }
.gm-style-iw h4 {
  margin: 0;
  padding: 0; }
.gm-style-iw a {
  color: #4272db; }

.map img {
  filter: hue-rotate(180deg); }

.footer-content {
  width: 100%;
  padding: 15px 0;
  background: #212428; }
  .footer-content .copyright {
    margin-top: 10px;
    color: #7b7b7b; }
    .footer-content .copyright p {
      text-align: center;
      font-size: 0.8666666666666667em;
      font-family: 'Hind', sans-serif; }

/*# sourceMappingURL=style.css.map */
