@charset "UTF-8";
/*----- VARIABLE START -----*/
/*---- COLOR VARIABLE START ------*/
/*---- COLOR VARIABLE END ------*/
/*----- VARIABLE END -----*/
@import "https://fonts.googleapis.com/css?family=Glegoo:400,700&subset=devanagari,latin-ext";
@import "https://fonts.googleapis.com/css?family=Dancing+Script:400,700";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  height: auto !important;
  font-size: 1.5em;
  font-family: "Glegoo", serif; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  content: " ";
  clear: both; }

/*----- RESET END -----*/
h1, h2, h3, h4, h5 {
  line-height: 1.5em; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em;
  line-height: 1.1em;
  font-weight: bold;
  margin-bottom: 0.5em; }

h3 {
  font-size: 2em;
  margin-bottom: 0.5em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.3em;
  margin-bottom: 1em; }

h6 {
  font-size: 1em; }

p {
  margin-bottom: 0.5em; }

a {
  line-height: normal;
  display: inline-block; }

.linenumber {
  padding-left: 20px; }
  .linenumber li {
    position: relative;
    padding-left: 30px; }
    .linenumber li:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      border-right: 1px dashed #8f908a; }

.code {
  position: relative;
  border: 1px solid;
  border-radius: 0 0 5px 5px;
  padding: 30px 10px 20px 10px; }
  .code p {
    text-align: center;
    margin-top: 30px; }
  .code .indent {
    padding-left: 10px; }
  .code .indent2 {
    padding-left: 60px; }
  .code .indent3 {
    padding-left: 80px; }

.content {
  transition: all 0.5s; }

header {
  padding: 30px 0 30px 0px; }

.container-fluid {
  max-width: 1800px; }

.menu-icon-box {
  position: fixed;
  top: 25px;
  left: 15px;
  cursor: pointer;
  padding: 20px 15px;
  background: red;
  border-radius: 3px; }

.menu-close {
  float: right;
  width: 50px;
  height: 50px;
  padding: 20px 15px;
  cursor: pointer; }

.menu-icon {
  display: block;
  position: relative;
  width: 20px;
  height: 2px;
  background: #333; }
  .menu-icon:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    width: 25px;
    height: 2px;
    background: #333;
    transition: all 1s; }
  .menu-icon:after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 15px;
    height: 2px;
    background: #333;
    transition: all 1s; }

.menu-transform .menu-icon {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  background: transparent; }
  .menu-transform .menu-icon:before {
    width: 15px;
    top: -2.3px;
    transition: all 0.5s;
    transform: rotate(40deg);
    background: #333; }
  .menu-transform .menu-icon:after {
    width: 15px;
    bottom: 2px;
    transition: all 0.5s;
    transform: rotate(-40deg);
    background: #333; }

.test {
  z-index: 4;
  position: absolute;
  transition: all 0.5s;
  transform: translate3d(0px, 0px, 0px) !important; }

.test-content {
  transition: all 0.5s;
  transform: translate3d(300px, 0px, 0px) !important; }

.overlay {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
  background: rgba(0, 0, 0, 0.4); }

.img-prim img {
  display: inline-block;
  width: auto; }

/*----- REDACTION TEXT START -----*/
.left-text, .right-text, .center-text, .justify-text {
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1.5em; }

.left-text {
  text-align: left; }

.right-text {
  text-align: right; }

.center-text {
  text-align: center; }

.justify-text {
  text-align: justify; }

.lowercase-text {
  text-transform: lowercase; }

.uppercase-text {
  text-transform: uppercase; }

.capitalize-text {
  text-transform: capitalize; }

/*----- REDACTION TEXT END -----*/
.tag {
  font-weight: bold;
  font-size: 1.1em; }

.tag-prim {
  border: 1px solid;
  padding: 0 5px;
  border-radius: 5px;
  margin: 0.3em 0;
  display: inline-block; }

#button .tag {
  padding: 0 0.3em; }

.tag-folder {
  background: red;
  padding: 0 5px; }

.message, .success, .warning, .info, .error {
  border-bottom: 3px;
  padding: 20px;
  border-radius: 5px;
  border-style: solid; }

/*----- NUMBERED LIST START ----*/
.numbered-list {
  list-style: none;
  margin: 0 0 0 20px;
  counter-reset: li; }
  .numbered-list li {
    position: relative;
    padding-left: 25px;
    margin-top: 10px; }

.numbered-list li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -10px;
  top: 50%;
  height: 25px;
  width: 25px;
  transform: translateY(-50%);
  text-align: center;
  border: 1px solid; }

/*----- NUMBERED LIST END ----*/
/*---- HORIZONTAL LIST START -----*/
.horizontal-list li {
  display: inline-block;
  margin: 0 10px; }
  .horizontal-list li .fa {
    margin-right: 10px; }
  .horizontal-list li a {
    font-weight: bold; }
    .horizontal-list li a:hover {
      transition: all 0.3s;
      text-decoration: none; }

/*---- HORIZONTAL LIST END -----*/
/*----- PAGINATION START -----*/
.transfer li {
  display: inline-block;
  margin: 0 -1px; }
  .transfer li a {
    padding: 0 10px;
    border: 1px solid;
    transition: all 0.3s; }
    .transfer li a:hover {
      transition: all 0.3s;
      text-decoration: none; }

/*----- PAGINATION END ------*/
/*----- TABLE START -----*/
.table-def {
  width: 100%;
  border-top: 1px solid;
  border-left: 1px solid; }
  .table-def thead {
    font-weight: 600;
    font-size: 1.3em; }
    .table-def thead td {
      padding: 20px;
      border-right: 1px solid;
      border-bottom: 1px solid; }
  .table-def tbody {
    vertical-align: middle; }
    .table-def tbody tr {
      border-bottom: 1px solid; }
      .table-def tbody tr td {
        padding: 20px;
        border-right: 1px solid; }

.table-odd {
  width: 100%; }
  .table-odd thead {
    font-weight: 600;
    font-size: 1.3em; }
    .table-odd thead td {
      padding: 15px;
      border-right: 1px solid; }
  .table-odd tbody {
    vertical-align: middle; }
    .table-odd tbody tr {
      border-bottom: 1px solid; }
      .table-odd tbody tr td {
        padding: 15px;
        border-right: 1px solid; }

.table-even {
  width: 100%; }
  .table-even thead {
    font-weight: 600;
    font-size: 1.3em; }
    .table-even thead td {
      padding: 15px;
      border-right: 1px solid; }
  .table-even tbody {
    vertical-align: middle; }
    .table-even tbody tr {
      border-bottom: 1px solid; }
      .table-even tbody tr td {
        padding: 15px;
        border-right: 1px solid; }

/*------ TABLE END -----*/
/*----- BLOCKQUOTE START -----*/
.quote {
  width: 80%;
  margin: auto;
  padding: 2.5em 3.5em;
  position: relative;
  transition: all 0.3s;
  border: 1px dashed;
  border-left: 0;
  border-right: 0; }
  .quote:before {
    content: "\AB";
    position: absolute;
    top: 20px;
    left: -40px;
    font-size: 5em;
    transition: all 0.3s; }
  .quote:hover:before {
    left: 10px;
    transition: all 0.3s; }

/*----- BLOCKQUOTE END -----*/
/*---- BUTTON START -----*/
.form-control-feedback {
  top: 15px;
  right: 5px; }

.form-group {
  margin-bottom: 0; }

.btn {
  position: relative;
  display: block;
  border: 1px solid;
  border-radius: 7px;
  transition: all 0.3s;
  text-transform: uppercase;
  padding: 0.5em 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.5em; }
  .btn:hover {
    transition: all 0.3s; }
  .btn.large {
    font-size: 2em; }
  .btn.small {
    font-size: 0.8em;
    border-radius: 3px; }
  .btn.move-left {
    position: relative;
    border-radius: 0; }
    .btn.move-left:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      transition: all 0.3s; }
    .btn.move-left:hover {
      z-index: 1; }
    .btn.move-left:hover:before {
      width: 100%;
      transition: all 0.5s;
      z-index: -1; }
  .btn.move-center {
    position: relative;
    border-radius: 0;
    overflow: hidden; }
    .btn.move-center:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 100%;
      opacity: 0;
      transition: all 0.3s;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
    .btn.move-center:hover {
      z-index: 1; }
    .btn.move-center:hover:before {
      width: 100%;
      opacity: 1;
      z-index: -1; }

.btn.indentation {
  box-shadow: 0 4px;
  transition: all 0s; }
  .btn.indentation:hover {
    top: 2px;
    box-shadow: 0 2px;
    transition: all 0s; }

/*---- BUTTON END -----*/
/*----- IMAGES STYLES START ------*/
.images-style img {
  display: block;
  width: 100%; }
.images-style .circle-img {
  width: 250px;
  height: 240px;
  border-radius: 50%;
  margin: auto; }

.rounded-img {
  border-radius: 5px; }

.tune-up-img {
  padding: 2px;
  border: 2px solid; }

/*------ IMAGES STYLES END ------*/
/*------ ╨æ╨░╨╖╨╛╨▓╤ï╨╣ ╨║╨╛╨╜╤é╨╡╨╣╨╜╨╡╤Ç ╤é╨░╨▒╨╛╨▓ -----*/
/*---- Base container tabs ----*/
.tabs {
  min-width: 320px;
  max-width: 100%;
  padding: 0px;
  margin: 0 auto; }
  .tabs input {
    display: none; }

/*----- ╤ü╤é╨╕╨╗╨╕ ╨▒╨╗╨╛╨║╨░ ╤ü ╤ü╨╛╨┤╨╡╤Ç╨╢╨╕╨╝╤ï╨╝ ------*/
/*----- block styles to the content -----*/
.content-tab {
  display: none;
  padding: 15px;
  border: 1px solid;
  transition: all 0.5s;
  min-height: 150px; }

/*----- ╤ü╤é╨╕╨╗╨╕ ╨▓╨║╨╗╨░╨┤╨╛╨║ -----*/
/*----- Styles tabs  -----*/
.tabs label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border: 1px solid;
  border-radius: 3px 3px 0 0;
  transition: all 0.5s; }

/* ╤ê╤Ç╨╕╤ä╤é-╨╕╨║╨╛╨╜╨║╨╕ ╨╛╤é Font Awesome ╨▓ ╤ä╨╛╤Ç╨╝╨░╤é╨╡ Unicode */
.tabs label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px; }

.tabs label[for*="1"]:before {
  content: "\f015"; }

.tabs label[for*="2"]:before {
  content: "\f007"; }

.tabs label[for*="3"]:before {
  content: "\f0e6"; }

.tabs label[for*="4"]:before {
  content: "\f001"; }

/* ---- change the style of the tab headers when you hover ----*/
.tabs label:hover {
  cursor: pointer; }

/*----- ╤ü╤é╨╕╨╗╨╕ ╨┤╨╗╤Å ╨░╨║╤é╨╕╨▓╨╜╨╛╨╣ ╨▓╨║╨╗╨░╨┤╨║╨╕ -----*/
/*---- styles for the active tab ----*/
.tabs input:checked + label {
  border: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid; }

/* ╨░╨║╤é╨╕╨▓╨░╤å╨╕╤Å ╤ü╨╡╨║╤å╨╕╨╣ ╤ü ╨┐╨╛╨╝╨╛╤ë╤î╤Ä ╨┐╨╡╤Ç╨╡╨║╨╗╤Ä╤ç╨░╤é╨╡╨╗╤Å :checked */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
  transition: all 0.5s; }

/*----- TABS STYLE END -----*/
/*----- CREATING CHECKBOX START -----*/
.checkbox {
  display: none; }

.checkbox + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 4px;
  cursor: pointer;
  border: 1px solid;
  padding: 1px;
  transition: all 0.3s; }

.checkbox:checked + label span {
  transition: all 0.3s;
  background-size: cover;
  background: url("data:image/svg+xml,%0D%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22 fill='#33bfd0' viewBox='0 0 45 45' %3E%0D%0A%09%09%3Cpath%20d%3D%22M17.021%2C44.403c0.427%2C0.45%2C0.995%2C0.698%2C1.601%2C0.698c0.641%2C0%2C1.25-0.287%2C1.672-0.791%0D%0A%09%09%09c8.155-9.735%2C19.136-21.879%2C23.248-24.062c0.906-0.482%2C1.515-1.456%2C1.515-2.423V1.933C45.056%2C0.678%2C44.137%2C0%2C43.272%2C0%0D%0A%09%09%09c-0.314%2C0-0.795%2C0.086-1.283%2C0.494C38.922%2C3.05%2C24.179%2C15.795%2C19.271%2C28.458l-4.691-7.624c-0.63-1.02-2.088-1.386-3.122-0.783%0D%0A%09%09%09L1.102%2C26.075c-0.599%2C0.349-0.981%2C0.924-1.046%2C1.579c-0.065%2C0.654%2C0.194%2C1.294%2C0.714%2C1.755%0D%0A%09%09%09C2.909%2C31.309%2C13.747%2C40.952%2C17.021%2C44.403z%20M12.378%2C22.984l5.636%2C9.16c0.378%2C0.613%2C0.96%2C0.965%2C1.597%2C0.965%0D%0A%09%09%09c0.613%2C0%2C1.437-0.375%2C1.736-1.432c3.091-10.901%2C15.443-22.661%2C20.707-27.29v13.253c-5.462%2C2.98-18.68%2C18.348-23.482%2C24.054%0D%0A%09%09%09c-3.429-3.461-11.281-10.499-14.85-13.674L12.378%2C22.984z%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A") no-repeat; }

/*----- CREATING CHECKBOX END -----*/
/* ╨╝╨╡╨┤╨╕╨░ ╨╖╨░╨┐╤Ç╨╛╤ü╤ï ╨┤╨╗╤Å ╤Ç╨░╨╖╨╗╨╕╤ç╨╜╤ï╤à ╤é╨╕╨┐╨╛╨▓ ╨╜╨╛╤ü╨╕╤é╨╡╨╗╨╡╨╣ */
@media screen and (max-width: 680px) {
  .tabs label {
    font-size: 0; }

  .tabs label:before {
    margin: 0;
    font-size: 18px; } }
@media screen and (max-width: 400px) {
  .tabs label {
    padding: 15px; } }

/*# sourceMappingURL=scins-color.css.map */
