@import "https://fonts.googleapis.com/css?family=Glegoo:400,700&subset=devanagari,latin-ext";
@import "https://fonts.googleapis.com/css?family=Dancing+Script:400,700";
@font-face {
  font-family: 'Proxima-Nova-Light';
  src: url("../fonts/Proxima Nova/Proxima Nova Light.otf"); }
@font-face {
  font-family: 'Proxima-Nova-Bold';
  src: url("../fonts/Proxima Nova/Proxima Nova Bold.otf"); }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

body {
  height: auto !important;
  font-size: 16px;
  font-family: "Proxima-Nova-Light"; }

ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:after {
  display: block;
  visibility: hidden;
  font-size: 0;
  height: 0;
  content: " ";
  clear: both; }

h1, h2, h3, h4, h5 {
  line-height: 1.5em;
  color: #6e6e6e; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em;
  line-height: 1.1em;
  margin-bottom: 0.5em;
  position: relative;
  color: #172438; }
  h2:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 35px;
    height: 3px;
    background: #e30000; }

.headers-icon {
  margin-left: -55px; }
  .headers-icon h2 {
    display: inline-block;
    text-transform: uppercase; }
  .headers-icon span {
    display: inline-block;
    margin-right: 22px; }
  .headers-icon .fa {
    font-size: 2.1333333333333333em; }

h3 {
  font-family: "Proxima-Nova-Bold";
  font-size: 1.4em;
  margin-bottom: 0.5em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.3em;
  margin-bottom: 1em; }

h6 {
  font-size: 1em; }

p {
  margin-bottom: 0.5em;
  color: #6e6e6e; }

a {
  line-height: normal;
  display: inline-block; }

strong {
  font-size: 1.0666666666666667em;
  font-family: "Proxima-Nova-Bold"; }

header {
  background: #172438; }

header, .content {
  padding-left: 300px; }

blockquote {
  color: #000;
  border-left: 5px solid #172438;
  padding: 1.4em; }
  blockquote p {
    text-align: right;
    margin: 0.5em 0; }

.container-fluid {
  max-width: 1200px; }

.fa {
  color: #e30000; }

h3 .tag {
  font-size: 0.8em; }

.container-section {
  margin-bottom: 2em;
  padding-top: 20px; }

.tune-up-img {
  border-color: #172438; }

.example-section {
  padding-top: 40px; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  background: #fff;
  transition: all 0.5s;
  padding: 40px 0 0 20px; }
  .navigation .fa {
    color: #172438; }
  .navigation .logo {
    margin: 0 0 20px 0; }
  .navigation .logo a {
    padding-top: 20px;
    color: #172438; }
  .navigation li {
    display: block;
    border-top: 1px solid #dcdcdc; }
    .navigation li:last-child {
      border-top: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc; }

.menu ul li {
  display: block;
  font-size: 16px;
  border-bottom: 1px solid #fff;
  transition: all 0.5s; }
  .menu ul li .fa {
    margin-right: 12px;
    transition: all 0.5s; }
.menu ul a {
  padding: 20px 0 18px 0;
  color: #172438;
  width: 92%;
  transition: all 0.5s; }
.menu ul a:hover {
  color: #e30000;
  text-decoration: none;
  transition: all 0.5s; }
  .menu ul a:hover .fa {
    color: #e30000; }
.menu .fa-angle-right {
  color: #e30000; }

.menu-icon-box {
  background: #172438; }

.menu-icon {
  background: #fff; }
  .menu-icon:before {
    background: #fff; }
  .menu-icon:after {
    background: #fff; }

.doc-box .fa {
  color: #081625;
  margin-right: 16px;
  font-size: 16px; }

.editing-files {
  margin-top: 20px; }
  .editing-files .rank {
    font-size: 1.2em; }
  .editing-files p {
    margin-top: 15px; }
  .editing-files .editing-img {
    margin: 30px 0; }

.doc-box {
  margin: 20px 0;
  padding: 15px 0 0 20px; }

.doc-text-mini {
  font-size: 0.8em; }

.website {
  margin: 10px 0 20px 0px;
  padding-left: 20px; }
  .website p {
    font-size: 0.9em; }

.font-setting h4 {
  margin-top: 20px; }
.font-setting img {
  width: 80%;
  height: auto;
  transition: all 1s ease-in; }
.font-setting .font-img {
  margin: 20px 0; }
.font-setting .code {
  margin-bottom: 30px; }

.inst-img-box {
  margin-top: 20px; }

.social {
  margin-top: 20px; }
  .social a {
    display: block;
    color: #172438;
    font-weight: bold; }

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); }
  .popup-overlay .popup-window {
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%);
    width: 50%;
    height: 50%; }
    .popup-overlay .popup-window img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto; }
  .popup-overlay .close-popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #172438;
    cursor: pointer;
    z-index: 6;
    text-align: center;
    color: #fff; }

/*# sourceMappingURL=style.css.map */
